<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>Liste des livres</title>
</head>

<body>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="bg-success text-light">
                                <th scope="col">ID</th>
                                <th scope="col">Categorie</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Editeur</th>
                                <th scope="col">Date de publication</th>
                                <th scope="col">ISBN</th>
                                <!--<th scope="col" class="bg-light"></th>-->   
                            </tr>
                        </thead>
                        <tbody>
                            {% for bk in data %}
                                <tr> 
                                    <td>{{bk.id}}</td>  
                                    <td>{{bk.categorie_id}}</td> 
                                    <td>{{bk.titre}}</td> 
                                    <td>{{bk.auteur}}</td> 
                                    <td>{{bk.editeur}}</td> 
                                    <td>{{bk.date_publication}}</td> 
                                    <td>{{bk.isbn}}</td> 
                                    <!--<td align="center">
                                        <a class="btn btn-warning btn-sm" href="">
                                            Modifier 
                                        </a>
                                        <a class="btn btn-danger btn-sm me-2" href="">
                                            Supprimer 
                                        </a>
                                    </td>-->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>